<!DOCTYPE html>
<html>
<body>

<h1>This is Home page</h1>

<button><a href="{% url 'order' %}">Click</a></button>

<a href="https://api.whatsapp.com/send?phone=+919791394624"><button>Whatsapp web</button></a>
<a href="tel:0123456789">Call Now</a>  
<a href="https://api.whatsapp.com/send?phone=+919791394624" style="display: inline-block; padding:16px; border-radius: 8px; background-color: #25D366; color: #fff; text-decoration: none; font-family: sans-serif; font-size: 16px;">Contact us on WhatsApp</a>

</body>
</html>